// home page background
:root{
    --gallery-gutter: 15px;
}

.logo{
    a{
        div{
            span{
                margin-left: 6px;
            }
        }
    }
}

.home-bg-div{
    background-image: url(/images/homepage/do-us-a-solid-collage.jpg);
    background-position: top 60px center;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    padding-block-start: 1rem;
}

.col-12.col-md-6.mb-2.pb-2:nth-child(even){
    .work.work-summary div a img{
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }
}

.work.work-summary {
    div{
        overflow:hidden;
        @media (max-width:775px) {
            margin: auto;
        }
        a{
            img{
                width: 500px;
                height: 380px;
                object-fit: cover;
                @media (max-width:1300px) {
                    width: 400px;
                    height: 250px;
                    object-fit: cover;
                }
                @media (max-width:980px) {
                    width: 300px;
                    height: 250px;
                    object-fit: cover;
                }
                
                @media (max-width:775px) {
                    max-width: 500px;
                    width: 100%;
                    min-height: 380px;
                    object-fit: cover;
                }
            }
        }
    }
}
.remove-margin-md{
    @media (max-width:800px) {
        margin: 0 !important;
    }

}

.image-gallery{
    @media (max-width:800px) {
        width: 100vw;
    }
    .single-content{
        h1{
            color: var(--primary);
            margin-bottom: 1rem;
        }
        position: fixed;
        left: 0;
        right: 0;
        margin-top: 4rem;
        padding:2rem 2rem;
        @media (max-width:800px) {
            position: unset;
            padding:2rem 2rem 0 2rem;
        }
    }
    .image-slide{
        padding-block-start: 60px;
        margin-top: 14.7rem;
        height: calc(68vh - 15px);
        display: flex;
        @media (max-width:800px) {
            margin-top: 0;
            flex-direction: column;
            padding-block-start: 0;
        }
        img{
            padding: var(--gallery-gutter);
            width: 100%;
        }
    }
}

.left-panel-content{
    position: absolute;
    width: 30%;
    background: #fff;
    height: 97%;
    top: 0;
    bottom:0;
}