{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

<div class="category-intro container text-center pt-6">
  <p>Collaboration is a major part of my practice and I’ve typically worked long-term with a few people, building up a way of working together and blending different techniques. 
  My work is also rooted in engagement. I’ve run workshops with school children, LGBTQ+ elders, people who have experienced head trauma, neurodivergent young adults and various other groups and scenarios. My preferred way of working is long-form interaction where the final outcome is a co-created artwork. I’m interested in this process being the core part of the artwork rather than an additional add-on.
  </p>
</div>

{{ if .Content }}
<div class="container pt-6 pt-md-10">
  <div class="row">
    <div class="col-12">
      <div class="page-intro">
      {{ .Content }}
    </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container pb-6 pt-6 pb-md-10 pt-md-10">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 pb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}